*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article{
    padding-top: 69px;
}
body{
    background-color: #d8e2e4;
}

/* definition list */
dl dt{
    font-weight: bold !important;
    font-size: 20px;
    color: #444;
    font-style: italic !important;
}
dl dt, dl dd{
    padding: 1vw;
    font: 17px 'Helvetica','Arial', sans-serif;
    line-height: 32px;
    color:#333;
} 

/* font */
p{
    font: 18px 'Helvetica','Arial', sans-serif;
    line-height: 32px;
} 

h2{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color:#333;
}

h3{
    color: #333;
    font: bold 26px Helvetica, sans-serif;
}
.heading-line~p{
    text-align: center;
    font-size: 20px;
    color: #223;
}
ul li{
    font-family: Helvetica, Arial, sans-serif;
}
/*go top button*/
.gotopbtn{
    position: fixed;
    width: 50px;
    height:50px;
    background: #efce72;
    bottom:40px;
    left:93vw;
    font-size: 30px;
    text-align: center;
    padding: 8px;
    color:white;
    border-radius:20%;
    z-index:1300;
    user-select: none;
}
.gotopbtn:hover{
    background: #fee6a5;
}
/*header*/
header{
    font-family:Helvetica,Arial,sans-serif;
    font-weight: bold;
    position:fixed;
    z-index:1200;
    width:100%;
    background-color:#2b5e51;
    list-style-type: none;
    max-height:70px; 
    height:100%;
}

.menu .home{
    display:none;
}
.menu{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-left: 39vw;
    font-size:15px;
}
.logo img{
	width:170px;
    height: auto;
	position: absolute;
	user-select: none;
    margin:0.3vw 0 0 1vw;
}
.menu li{
    padding: 1vw 1vw;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color:white;
    transition: 0.15s ease-in-out;
    padding: 1vw 2.2vw;
    position:relative;
}
.menu .dropdown-content li a{
    color:black;
}
.menu li a::after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:0.3vw;
    background-color: #96ab92;
    transition:0.15s ease-in-out;
    transform: scaleX(0);
}
.menu li a:hover:after {
    width:100%;
    transform: scaleX(1);
}
.open-menu,.close-menu{
    position: absolute;
    cursor:pointer;
    top:20px;
    right:20px;
    font-size:30px;
    color:white;
    display:none;
    user-select: none;
}
.close-menu{
    z-index:1000;
}

#open-check{
    display:none;
}
/* Highlight the current viewing page */
.menu .active>a:after{
    width:100%;
    transform:scaleX(1);
}
.menu .active>a{
    color:#ffe396;
}
.menu .special.active>a{
    color:#ffe396;
    background-color: #578d7f;
    border-color:#578d7f;
}
.menu .special.active>a::after{
    transform: scaleX(0);
}
/* dropdown menu bar */
.dropdown-content {
	width:auto;
	background: #F1F1F1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: absolute;
	z-index: 99;
    top:57px;
    display:none;
}

.dropdown-content li {
    text-align: center;
    display:block;
    padding: 1vw 3.5vw;
    position:relative;
}
.dropdown-content li:hover{
    background-color: #dddddd;
}
.menubar:hover .dropdown-content{
    display:block;
}
/* Enquiry Button */
.menu .special a{
	margin-left: 2.5vw;
	border: 5pt solid #28a34b;
	border-radius: 16pt;
	padding: 0.45vw 1.3vw;
	background-color: #28a34b;
    color:white;
}
.menu .special a:hover:after{
    transform:scaleX(0);
}
.menu .special a:hover{
    background-color: #96ab92;
    border:5pt solid #96ab92;
    color:#efce72;
}
.menu li a:hover{
    color:#c3aa65;
}
/* Feedback Sticky Menu */
.feedback{
    position:fixed;
    bottom:150px;
    right:0;
    background-color: #509080;
    color:white;
    padding:15px 10px;
    font-size:15px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.4);
    border-radius:0 10px 10px 0;
    border:1px solid #509080;
    z-index:100;
    cursor:pointer;
    font-family: Helvetica, sans-serif; 
}
.feedback i{
    transform: rotate(180deg);
    padding-bottom:5px;
    font-size: 24px;
}
.feedback:hover,.enquiry_btn:hover{
    background-color: #2b5e51;
    border:1px solid #2b5e51;
    padding-left:16px;
}

/* Enquiry button for tutorial, tools and care */
.enquiry_btn{
    position: fixed;
    bottom:300px;
    right:0;
    padding:15px 14px;
    font-size:23px;
    background-color: #509080;
    color:white;
    border:1px solid #509080;
    border-radius:10px 0px 0px 10px;
    z-index:100;
    cursor:pointer;
    font-family: Helvetica, sans-serif; 
}
.enquiry_btn:hover{
    padding-right:18px;
}

/*Tutorial*/
#tutorial-startup img,#main-startup img, #tools-startup img, #care-startup img,#classify-startup img{
    width:100%;
	mask-image: linear-gradient(black 55%, transparent);
    background-color: #4d5e2b;
    user-select: none;
}
.overlay-text{
	color:#2b5e51;
	font-family: 'Pirata One', fantasy;
    font-size: 2.7vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#tutorial-startup~.overlay-text{
    position: absolute;
	top: 19vw;
	left: 24%;
}
#tools-startup~.overlay-text,#care-startup~.overlay-text{
    position: absolute;
	top: 19vw;
	left: 32%;
}
#tutorial-startup~.overlay-text .text,#main-startup~.overlay-text .text{
    position: relative;
    left:30%;
}
#tools-startup~.overlay-text .text{
    position: relative;
    right:5%;
}
#care-startup~.overlay-text .text{
    position: relative;
    left:23%;
}
.overlay-text .text{
    color:#6a4a3a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	font-family: 'Pirata One', fantasy;
    font-size: 2.7vw;
}

.heading,.heading_history{
    text-align: center;
    font-size: 32px;
    color:#333;
}

/* timeline */
#timeline {
    padding: 100px 0 0 250px; 
    position: relative;
    width: 100%;
}

#timeline ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#timeline ul li {
    position: relative;
    width: 50%;
}
.step{
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(black 98%, transparent);
}
.content h4 {
    font: bold 21px Helvetica, sans-serif;
}

.content ul li {
    font: 18px 'Helvetica', sans-serif;
    padding-top: 9px;
    color: #333;
    width: 65%;
}

.content ul li span {
    font-weight: bold;
}

.content i {
    color: #c3aa65;
}
#timeline::before {
    content: "";
    position: absolute;
    height: 90%;
    width: 4px;
    background-color: #6a4a3a;
    left: 50%;
}

#timeline > ul > li {
    clear: both;
    float: left;
}

#timeline > ul > li:nth-child(even) {
    float: right;
}

#timeline ul li:nth-child(odd) .content {
    margin-right: 100px;
}

#timeline ul li:nth-child(even) .content {
    margin-left: 100px;
}

#timeline ul::after {
    content: "";
    display: table;
    clear: both;
}

#timeline > ul > li::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 4px solid #2b5e51;
}

#timeline > ul > li:nth-child(odd)::before {
    right: -28px;
    top: 21%;
    transform: translate(0%, -50%);
}

#timeline > ul > li:nth-child(even)::before {
    left: -280px;
    top: 21%;
    transform: translate(0%, -50%);
}
.content{
    padding:0 0 180px 0;
    line-height: 2vw; 
}
#timeline>ul>li:nth-child(1)::before{
    background-image: url(images/collect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#timeline>ul>li:nth-child(2)::before{
    background-image: url(images/preparation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#timeline>ul>li:nth-child(3)::before{
    background-image: url(images/pressing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#timeline>ul>li:nth-child(4)::before{
    background-image: url(images/mouting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#timeline>ul>li:nth-child(5)::before{
    background-image: url(images/freezing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#timeline>ul>li:nth-child(6)::before{
    background-image: url(images/identification.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#timeline>ul>li:nth-child(7)::before{
    background-image: url(images/preserving.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.desc_history{
    padding:3vw 3vw 3vw 0;
}

/* Image text */
.image-text {
	display: flex;
	justify-content: space-between;
	padding: 2vw 10vw;
}
.desc1{
	text-align: justify;
	padding: 1.5vw 2vw 0 3.5vw;
    flex: 1;
}
.image-text img{
    max-width:350px;
    width:100%;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}
p~.image-text figure{
    margin-top:3vw;
}
.desc1 p{
    width:100%;
}
.desc1 ul{
    list-style-type: none;
}
.desc1 ul li{
    padding:1vw;
    font-size: 18px;
}
.desc1 ul li i{
    color:#c08d00;
    padding-right: 5px;
    
}
#label{
    background-image: url(images/green_note.jpg);
    border:4px double #0b524253;
    background-position: center;
    background-size: cover;
}
#label figure{
    margin:2vw;
}
#label ul{
    margin:0vw 2vw 2vw 3.8vw;
}
#label li{
    padding:0.5vw;
}
#label p{
    margin:2vw 0 0 2vw;
}
.heading_history{
    text-align: left;
    margin-left:13.5vw;
    position: relative;
    top:60px;
}
figcaption{
    font-style: italic;
    color:#223;
    text-align: center;
    padding-top: 1vw;
}

/* Aside */
.image-text aside{
    float:right;
    flex:0 0 30%;
    border:2px dashed #c3aa65;
    border-radius:10px;
    background-image:url(images/note.jpg);
    background-size: cover;
    background-position: center;
}
/* ~Tutorial End~ */

/*Mainpage*/
/* Brief introduction of Herbarium */
.main_herbarium{
    padding: 5vw 4vw 0 2vw;
}
/* overlay-text */
#main-startup~.overlay-text,#classify-startup~.overlay-text{
    position: absolute;
    top: 18vw;
	left: 6%;
}
/* Small image arrangement */
#small-pic img{
    max-width:160px;
}
#small-pic{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    gap:20px
}
.image-text #explore_herbarium{
    display:flex;
    flex-direction: row;
}
#explore_herbarium>img{
    max-width:400px;
    width:100%;
}
.main_herbarium h2{
    position: relative;
    bottom:10%;
    font-size: 32px;
}
#read_btn{
    position: relative;
    top:2%;
    font-size: 20px;
}
#read_btn a{
    color:#9e8a52;
}
#read_btn a:hover{
    color:#c3aa65;
}
.heading-line{
	display: flex; 
	align-items: center;
	padding-top: 3.5vw;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 23px;
    color:#333;
}
.line{
	flex: 1; 
	border-top:  1px dotted black;
	margin: 0 2.5vw;
}
#desc2 p{
    text-align: center;
    font-size: 20px;
    padding:0 6vw;
}
.dot1,.dot2,.dot3{
    height:12px;
    width:12px;
    margin:6px 3px 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display:inline-block;
    transition: 1s;
    cursor: pointer;
}
.group-dot{
    text-align: center;
}
.dot1.active, .dot2 .active, .dot3 .active{
    background-color: #737272;
    width:30px;
    border-radius:20px;
}
/* Animated Card */
#wrapper{
    width:100%;
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main_explore{
    background-image: url(images/back2.jpg);
}
#container{
    height: 550px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    width:150px;
    background-size: cover;
    overflow:hidden;
    border-radius: 2rem;
    margin:0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28,-0.03,0,0.99);
    box-shadow: 0 10px 30px -5px rgba(0,0,0,0.8); 
    color:black;
    display:flex;
    flex-wrap: nowrap;
    cursor:pointer;
}  

.card .icon{
    background-color: #223;
    color:white;
    border-radius: 50%;
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 15px 15px 15px;
}
.card .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
    height:160px;
    width:520px;
    opacity:0; 
    transform: translateY(30px);
    transition-delay: 0.6s;
    transition: all 0.3s ease;
    margin-bottom:2%;   
    display: none;
}
.description p{
    padding-top:5px;
}
.card.active{
    width:600px;
}
.card.active .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
    display:block;
}
#c1{
    background-image: url(images/classify_img.jpg);
}
#c2{
    background-image: url(images/tutorial_img.jpg);
}
#c3{
    background-image: url(images/tool_img.jpg);
}
#c4{
    background-image: url(images/preserve_img.jpg);
}
.description a{
    color:#9e8a52;
}
.description a:hover{
    color:#c3aa65;
}  

/* The role of Herbarium */
#role,#explaination_plant{
    margin:0 10vw;
}
#role ul li{
    list-style-type: none;
    margin:2.5vw 2vw;
    font-size:20px;
    line-height: 30px;
    width:600px;
    background-color: #efce7262;
    border-radius:40px;
    padding:1.5vw;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.374); 
}
#role ul li i{
    color:#0b5241;
}
#role ul{
    display:flex;
}
#role{
    margin-bottom:3vw;
}
/* ~Mainpage End~ */

/*Classify*/
/* aside */
#explaination_plant aside{
    font-size: 20px;
    margin:5vw auto;
    float:right;
    flex:0 0 30%;
    border:4px double #2b5e5148; 
    border-radius: 20px;
    background-image: url(images/green_note.jpg);
    background-position: center;
    background-size: cover;
    font: 17px 'Helvetica','Arial', sans-serif;
}
#explaination_plant aside table td{
    padding: 0.5vw;
    text-align: center;
}  
#explaination_plant,#explain_class{
    display:flex;
    justify-content: space-between;
}
#explaination_plant aside table caption{
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}
#explaination_plant aside table{
    margin: 2vw auto 4vw auto;
    border-collapse: collapse;
    border:4px double #2b5e51;
}
#explaination_plant aside table th{
    padding:0.8vw;
    background-color:#7ca597cd;
}
#explaination_plant aside tr:nth-child(even){
    background-color: #96ab925f;
}
#plant_taxonomy figure{
    text-align: center;
    margin-top:2vw;
}
.taxonomy_pic{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width:100%;
    max-width: 750px;
} 

#explain_taxonomy ul{
    font-size: 20px;
    width:90%;
    color:#333;
    padding-left:5vw;
    text-align: justify;
}
#explain_taxonomy ul li ul{
    margin-left:3vw;
    padding-left:0;
}
#explaination_plant h2{
    margin:6vw 0 2vw 4vw;
    font-size: 25px;
}
/* Flip Card */
#explain_class{
    margin:3vw 9vw;
}
#explain_class h2{
    font-size: 25px;
    text-align: center;
    margin-top:2vw;
}
.card_front ul{
    font-size: 17px;
    color:#333;
    padding:40px 40px 0 50px;
    line-height: 26px;
}
#spacer{
    height:630px;
}
.card_container:hover>.flip_card{
    transform:rotateY(180deg);
    cursor: pointer;
}
.card_container{
    width:400px;
}
.flip_card{
    position: relative;
    transition:transform 1500ms;
    transform-style: preserve-3d;
} 
.card_front,.card_back{
    width:100%;
    height:100%;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.card_front{
    background-color: #efce7250;
    border-radius: 20px;
    height:660px;
} 
.card_back{
    background-color: #9ed0bf6d;
    border-radius: 20px;
    transform:rotateY(180deg);
    height:660px; 
}
.card_back img{
    width:300px;
    border-radius:20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.card_back figure{
    text-align: center;
    margin-top:1vw;
}
.card_back p{
    padding:2vw;
    text-align: center;
}
.card_front p{
    text-align: right;
    margin:1vw 1vw;
    font-size: 18px;
    color: #333;
}
.card_front i{
    width:30px;
    height:30px;
    text-align: center;
    padding-top:5px;
    border-radius:50%;
    background-color: #0b5242a8;
    color:white;
}
/* embeded video */
#video{
    margin:2vw 10vw;
    display:flex;
    gap:3vw;
}
embed{
    border-radius: 20px;
}
#video h2{
    width:50%;
    padding:7vw 0;
    text-align: center;
}
/* World Map */
#world-map img{
    max-width: 800px;
    width:100%;
    opacity: 0.7;
}
#world-map{
    text-align: center;
}
/* Herbarium Picture */
#herbarium_pic{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 90px;
    padding:30px 0;
}
#herbarium_pic img{
    width:300px;
    height:auto;
    user-select: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
/* Classify end */

/* Profile */
#profile-startup{
    background-image: url(images/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
#profile-startup>h2{
    text-align: center;
    font-size: 45px;
}
#profile-startup .aboutme-pic img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 20px;
    border:20px groove rgba(219, 255, 245, 1);
    margin-top:2%;
    background-color: rgb(240, 255, 250)
}
#profile-startup .aboutme-pic{
    text-align: center;
}
#profile-startup h3, #profile-startup h4{
    text-align: center;
    color:rgb(70, 69, 69);
    font-family: Arial, sans-serif;
}
#profile-startup h3{
    margin-top:2%;
    font-size:200%;
}
#profile-startup h4{
    font-size: 20px;
    margin-top: 1%;
}

.heading-line .personal-details{
    font-size: 30px;
    margin-bottom: 1%;
}

.profile_table th{
    text-align: center;
    color:#333;
    padding:0 1vw;
    background-color: #ffe8847d;
    border-bottom: 1px dotted #333;
}
.profile_table td{
    padding: 1vw 1.5vw;
    border-bottom: 1px dotted #333;
}
.profile_table{
    margin: 0 auto;
    width:70%;
    font-family: Arial, sans-serif;
    background-color: white;
    border-collapse: collapse;
    line-height: 25pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:7px double #fed8007c;
}
.profile_table tr:nth-child(even){
    background-color: #fafade;
}
.profile_table tr:nth-child(odd){
    background-color: #f8efcc;
}

.profile_table td ul li{
    list-style-type: square;
}
#emailme{
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    padding:10px 0;
    margin:0 auto;
    margin-bottom:1%;
    background-color:#509080;
}
#emailme a {
    padding:10px 32px;
    border-radius:20px;
    color:white;
    text-decoration: none;
}
#emailme:hover{
    background-color:#96ab92;
}
#emailme a:hover{
    color:#efce72;
}
#profile-startup .book-pic img,#profile-startup .music-pic img,.movie-pic img,.game-pic img,.country-pic img{
    width:230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.book-pic,.music-pic,.movie-pic,.game-pic,.country-pic{
    text-align: center;
}
#profile-startup .music-pic img,.movie-pic img{
    max-width:340px;
    width: 100%;
}
.game-pic img{
    margin:0 30px;
}
.country-pic img{
    max-width:256px;
    margin:0 10px;
    width: 100%;
}
.game-pic,.country-pic{
    display: flex;
}  
.game-pic p,.country-pic p{
    font-size: 16px;
}
/* Profile end */

/*Enquiry*/
.question,.place_question{
    font-family: Helvetica, Arial, sans-serif;
    color:#333;
    font-weight: bold;
}
.place_question label:first-of-type{
    margin-right:25%;
}
.enquiry div{
    padding:6px;
}
fieldset{
    margin: 20px 0px;
    padding:10px;
}
.enquiry-form,.confirm_form{
    font-size: 18px;
    padding:20px 50px;
    background-color:rgba(255, 255, 255, 0.608);
    max-width:500px;
    min-width: 370px;
    margin:0 auto;
    border-radius: 30px;
}
.flex-container{
    display:flex;
    gap:5%;
}
#male+label{
    margin-right: 135px;
}
input[type="text"],select{
    border:0;
    border-bottom:2px solid #509080;
    padding:3px;
}
#enquiry-startup{
    background-image: url(images/enquiry_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.enquiry-form legend{
    color:#333;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 16px;
    padding:0 10px;
}
#phone,#email,#street,#postcode,#subject{
    width:100%;
}
.tutorial{
    width:50%;
}
#button{
    text-align: center;
    margin-top:2%;
}
#button input[type="submit"],#button input[type="reset"],#submit_confirm{
    font-size:18px;
    background-color: #509080;
    font-weight: bold;
    color:white;
    border:1px solid #509080;
    border-radius:20px;
    margin:0.5vw;
    padding: 7px 15px;
}
input[type="radio"]{
    accent-color: #2b5e51;
}
#button input[type="submit"]:hover,#button input[type="reset"]:hover,#submit_confirm:hover{
    color:#efce72;
    background-color: #96ab92;
    cursor:pointer;
}
input[type="text"]:focus,select:focus{
    border-color: #c3aa65;
    outline: none;
}
.error{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size:13px;
    color:red;
}
.input.error input[type="text"],.input.error textarea{
    border-bottom:1px solid red;
}
/* ~Enquiry End~ */

/* tools */
.interactive_tab label{
    background-color: #efce72a1;  
    font-size: 20px;
    position: relative;
    left:28%;
    margin-top:20px;
    border-radius: 50%;
    padding:1.8vw 2vw; 
}
.interactive_tab input{
    visibility: hidden; 
}
/* Enable the switching of different tab */
#step1:checked~#item1,#step2:checked~#item2,#step3:checked~#item3,#step4:checked~#item4,#step5:checked~#item5,#step6:checked~#item6,#step7:checked~#item7{
    background-color:white;
    border:3px double #efce72;
}
#step1:checked~ #step1_content{
    display: block;
}
#step2:checked~ #step2_content{
    display:block;
}
#step3:checked~ #step3_content{
    display: block;
}
#step4:checked~ #step4_content{
    display:block;
}
#step5:checked~ #step5_content{
    display:block;
}
#step6:checked~ #step6_content{
    display:block;
}
#step7:checked~ #step7_content{
    display:block;
}
.interactive_tab label{
    transition: 0.2s ease-in-out;
    cursor:pointer;
    user-select: none;
}
.interactive_tab label:hover{
    background-color: #f8e8b8; 
}
#step1_content img, #step2_content img, #step3_content img,#step4_content img, #step5_content img, #step6_content img,#step7_content img{
    max-width:500px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
} 

.tools-left,.tools-right{
    display:flex;
    padding: 4vw 0;
    width:80%;
    margin:0 auto;
}
.desc_tools p{
    padding: 1vw 6vw 0 6vw; 
}
.desc_tools{
    flex-direction: row;
}
.desc_tools h2{
    font-size: 25px;
    text-align: left;
    padding-left:100px;
    margin-top:55px;
}
.desc_tools i{
    color:#2b5e51;
}
.tools-left>.desc_tools{
    background-color: #a8cfc265;
    border:3px dashed #2b5e51;
    border-left:none;
    border-radius:0 20px 20px 0;
}
.tools-right>.desc_tools{
    background-color: #ffe88464;
    border:3px dashed white;
    border-right:none;
    border-radius:20px 0 0 20px;
}
#step1_content,#step2_content,#step3_content,#step4_content,#step5_content,#step6_content,#step7_content{
    display:none;
}
/* ~Tools End~ */

/* Care */
#damaged_container img{
    width:380px;
    border-radius: 10px;
}
#damaged_container{
    display:flex;
    gap:30px;
    margin:4vw 10vw;
}
.damaged-factor{
    background-color: #b8dbd0; 
    border-radius:20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:380px;
}
.damaged-description{
    padding:1vw 0vw 1.5vw 2vw;
}
.damaged-description p{
    font-size: 17px;
    text-align: left;
}
#environment img{
    max-width:500px;
    width:100%;
}
#environment .image-text .desc1 ul li{
    list-style-type: none;
    font-size: 18px;
    padding: 1.5vw 0;
}
#environment .image-text .desc1 ul i{
    margin-right: 10px;
    color:#c3aa65;
}
#environment .image-text .desc1 h2{
    font-size: 25px;
    position: relative;
    bottom:20px;
}
/* Handling Guidlines Table */
#handling_table{
    border:3px double #c3aa65;
    border-radius:20px;
    margin: 3vw auto;
    max-width:80%;
}
#handling_table th{
    border-right:2px solid #c3aa65;
    background-color: #f4d88c8f;
}
#handling_table td{
    background-color: #efce7233;
}
#handling_table td ul{
    list-style-type: none;
}
#handling_table td ul i{
    color:#2b5e51;
}
/* Repair Technique Table */
#handling_table td, #handling_table th,#repair_table th, #repair_table td{
    font-size:17px;
    font-family:Helvetica, Arial, sans-serif;
    line-height: 35px;
    padding: 1vw;
}
#repair_table,#acknowledgement_table{
    border:3px double #c3aa65;
    margin:2vw auto;
    width:80%;
    border-collapse: collapse;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#repair_table caption{
    color:#223;
    font-size:18px;
    margin-bottom:1%;
    font-family:  'Helvetica','Arial', sans-serif; 
}
#repair_table th,#repair_table td,#acknowledgement_table th,#acknowledgement_table td{
    border:1.5px solid #9e8a52;  
}
#repair_table tr th,#acknowledgement_table th{
    font-size: 18px;
}
#repair_table tr:nth-child(even),#acknowledgement_table tr:nth-child(even){
    background-color: #efce7241;
}
#repair_table tr:nth-child(odd),#acknowledgement_table tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.193);
}
#repair_table tr:first-child,#acknowledgement_table tr:first-child{
    background-color: #efce72b9;
}
#repair_table td ul{
    padding-left: 15px;
}

#repair_table tr td figure img{
    max-width:40vw;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}
#repair_table tr td figure{
    text-align: center;
}
#repair_table tr td figure p{
    font-size:15px;
    color:#333;
    font-style: italic;
}
/* ~Care End~ */

/*acknowledgement*/
#acknowledgement{
    font-family: Helvetica,Arial, sans-serif;
    background-image: url(images/acknowledgement_bg.jpg);
    background-size: cover;
    background-position: center;
}
#acknowledgement>h2,#enhancement>h2{
    padding-top: 1vw;
}
#acknowledgement>h2,#acknowledgement>p,#enhancement>h2,#enhancement>p{
    text-align: center;
    margin:0 10vw;
}
#acknowledgement_table ul{
    padding:1vw 4vw;
}
#acknowledgement a{
    color:#2b5e51;
    text-decoration: none;
}
#acknowledgement a:hover{
    text-decoration: underline;
}
/* Aknowledgement end */

/* Enhancement */
.explain_enhance{
    display: flex;
    gap:5vw;
}
.enhance_container{
    background-color: #a8cfc265;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:20px;
    margin:2vw 10vw 6vw 10vw;
    padding-bottom:2vw;
}
.enhance_container ul{
    font-size:20px;
    list-style-type: circle;
}
.desc_enhancement h2{
    margin-bottom:2vw;
}
.desc_enhancement{
    margin:3vw 0 0 8vw;
    line-height: 34px;
    max-width:450px;
}

.pages h2{
    margin:0 6vw;
}
.pages ul li{
    display: inline-block;
    margin:2vw;
}
.pages a{
    padding:1vw 2vw;
    background-color: #efce72a1;
    border-radius:30px;
    color:black;
    text-decoration: none;
    border:3px double #efce72;
}
.pages ul{
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size:17px;
    margin:0 5vw;
}
.pages i{
    color:#0b5241;
}
.pages a:hover{
    background-color: white;
}
.enhance_container div h2,.enhance_container div img,.enhance_container div embed{
    margin-top:2vw;
}
.enhance_container div img{
    max-width: 500px;
    width:100%;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.enhance_container figure img:hover{
    cursor: pointer; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Enhancement end */
/* Feedback Pop-up Window */
#popup-window{
    position:fixed;
    top:54%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:101;
    background-image: url(../images/light-yellow.jpg);
    background-size: cover;
    background-position: center;
    border-radius:10px;
    padding:7px 20px;
    width:390px;
    border:5px double #fde39c;
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.4);
    display:none;
}
#popup-window table{
    padding:10px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
#popup-window table td{
    padding:7px;
}
#radio_goal{
    text-align: center;
}
#close_popup{
    position: relative;
    left:90%;
    margin-top:3%;
    font-size:25px;
    color:rgb(73, 73, 73);
    cursor:pointer;
    width:10%;
}
#close_popup:hover{
    color:grey;
}
#popup-window h2,#popup-window p{
    text-align: center;
}
#popup-window h2{
    font-size:30px;
}
#emoji input{
    display:none;
}
#emoji label{
    cursor:pointer;
    font-size:35px;
    padding:0 10px;
    text-shadow:
	-3px 2px 0 #EB970F,
    -3px -1px 0 #EB970F,
    1px -1px 0 #EB970F,
    -1px 1px 0 #EB970F,
    2px 1px 0 #EB970F;
    color:white;
    display: inline-block; 
    transition: transform 0.2s ease;
}
#emoji label:hover{
    color:rgba(247, 234, 193, 0.815); 
}
#emoji input[type="radio"]:checked + label{
    color:rgba(248, 234, 145, 0.981); 
    transform: scale(1.15);
} 
#emoji,#feedback_btn{
    text-align: center;
}
#feedback_btn input{
    margin:0 20px;
    padding:8px 15px;
    background-color: #7ca597;
    border-radius:20px;
    border:0;
    cursor: pointer;
    color:white;
    font-size:15px;
}
#feedback_btn input:hover{
    background-color: #88ae81;
}
/* Footer */
footer {
	clear: both;
	background: #2b5e51;
	padding:0 0.5vw;
	font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    text-align: center;
    border-radius:50px 0 0 0;
}
.footer-content, .footer-content2{
	list-style: none;
}
.footer-list{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 4vw;
	padding: 10px 0;
}
.ft-bottom{
	text-align: center;
}
.footer-content{
	margin-top: 0.5vw;
	line-height: 1.8vw;
}
.footer-content2 li~li{
	padding-top: 0.5vw;
}
.footer-list>a, .footer-content2>li a, #herbarium-ft,#social{
	font-size: 12px;
	color: #c3aa65;
}

footer p, footer a {
	text-decoration: none;
	color: #EEF1F5;
	font-size: 12px;
	line-height: 20pt;
}
/* footer end */

/* Media screen that less than 1350 px */
@media screen and (max-width: 1350px) {
    .menu .home{
        display:block;
    }
    .menu{
        width:100%;
        flex-direction: column;
        width: 300px;
        height: 110vh;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: #7ca597;
        transition: all 0.2s ease-in-out;
        display:none;  
    } 
    .open-menu{
        display: block;
    }

    #open-check:checked ~ .menu {
        right: 0;
        display: block;
    }
    #open-check:checked ~ .open-menu{
        display:none;
    } 
    #open-check:checked ~ .close-menu{
        display:block;
        z-index:1300;
    }

    .menu > li {
        position: relative;
        top: 150px;
        padding-top: 40px;
    }

    .menu .special a {
        border: none;
        background: none;
        padding: 8px 0;
        color: white;
    }
    .menu .special.active>a{
        background: none;
        border:none;
    }
    .menu .special a:hover {
        background: none;
        border: none;
        color:#c3aa65;
    }

    .menu li a::after, .menu li a:hover::after {
        transform: none;
        background-color: #7ca597;
    }

    .dropdown-content li a::after, .dropdown-content li a:hover::after {
        transform: none;
        background-color: #F1F1F1;
    }

    .dropdown-content {
        border-radius: 10px;
    }

    .menu li {
        display: block;
    }
    #timeline::before {
        display: none;
    }
    #timeline > ul > li:nth-child(even)::before {
        margin-left:5%;
    }
    #timeline > ul > li:nth-child(odd)::before,
    #timeline > ul > li:nth-child(even)::before {
        height: 230px;
        width: 230px;
    }
    #timeline > ul > li:nth-child(odd)::before {
        top: 4%;
        right:100%;
    }

    #timeline ul li:nth-child(odd) .content,
    #timeline ul li:nth-child(even) .content {
        margin: 0 auto;
        width: 90%;
    }
    #timeline ul li,#container,#explain_taxonomy ul{
        width:100%;
    }
    .tools-left .desc_tools{
        border-radius: 0;
        border-left:3px dashed #2b5e51;
        padding-bottom:30px;
    }
    .tools-right .desc_tools{
        border-radius: 0;
        border:3px dashed white;
        padding-bottom:30px;
    }
    .profile_table ul li{
        margin-left: 30px;
    }
    #damaged_container{
        flex-direction: column;
        align-items: center;
    }
    .image-text #explore_herbarium,.image-text,.tools-left,.tools-right,#explaination_plant,#explain_class,#herbarium_pic{
        flex-direction: column;
     }
     .flip_card{
        max-width:400px;
        width:100%;
     }
     .tools-left,.tools-right{
        gap:3vw;
     }
     #small-pic{
         flex-direction: row;
     }
    .image-text figure{
		order:1;
		text-align: center;
	}
	.desc1,.tools-right .desc_tools{
		order: 2;
	}
    #explore_herbarium{
        align-items: center;
    }
    .tools-left figure,.tools-right figure{
        text-align: center;
    }
    .heading_history{
        top:5%;
    }
    #environment .image-text .desc1 h2{
        margin-top:14%;
    }
    #definition_herbarium aside,#definition_herbarium figcaption{
        margin-bottom:5%;
    }
    #video{
        flex-direction: column;
    }
    #video h2{
        width:100%;
        order:1;
    }
    embed{
        width:100%;
        order:2;
        margin-bottom:2vw;
    }
    #spacer{
        display:none;
    }
    .card_container{
        margin-bottom:700px;
    }
    #explain_class{
        justify-content: center;
        align-items: center;
    }
    .explain_enhance{
        flex-direction: column;
    }
    
}
/* Media Screen which less than 949 px */
@media screen and (max-width:949px){
    .description p,.description a{
        font-size:15px;
    } 
    .country-pic,.game-pic{
        flex-direction: column;
    }
    #role ul{
        display: flex;
        flex-direction: column;
    }
    #role ul li{
        width:96%;
        padding:20px;
    }
}
/* Media screen which less than 814 px */
@media screen and (max-width: 814px) {
    #timeline > ul > li:nth-child(odd)::before,
    #timeline > ul > li:nth-child(even)::before {
        height: 200px;
        width: 200px;
    }
    .heading-line{
        margin-top: 4%;
    }
    
    .tools-left,.tools-right{
        width:100%;
       
    }
    #step1_content,#step2_content,#step3_content,#step4_content,#step5_content,#step6_content,#step7_content{
        margin:0 0 0 9vw;
    }
    .card.active .icon{
        background: none;
        color:#0b5241;
        font-size:25px;
    }
}
/* Media Screen which less than 780 px */
@media screen and (max-width: 780px){
    .description p,.description a{
        height:60px;
        font-size:14px;
        
    }
    .description a{
        position: relative;
    }
    
    .interactive_tab{
        width:90%;
    }
    
}
/* Media screen which less than 768 px */
@media screen and (max-width: 768px) {
    .gotopbtn{
        left:86vw;
    }
    .interactive_tab label{
        left:18%;
    }
    
}
/* Media screen which less than 613 px */
@media screen and (max-width: 613px){
    .description p,.description a{
        height:37px;
    } 
    .description a{
        left:15%;
        top:235%;
    }
    .description p{
        line-height: 20px;
    }
    .description h3{
        position: relative;
        font-size:16px;
    } 
    .heading-line{
        margin-top: 8%;
    }
    
    .interactive_tab label{
        width:40px;
        height: 10px;
    }
    
    #timeline > ul > li:nth-child(even)::before {
        margin-left:20%;
    }
    #environment .image-text figure img, #classify-startup~figure img,.tools-left figure img,.tools-right figure img,.profile_table,#repair_table{
        width:100%;
    } 
    .interactive_tab label{
        left:9%;
    }
    #wrapper .icon{
        width:35px;
        height:35px;
    }
     .game-pic img{
        margin:0 !important;
     }
     .desc_tools h2{
        margin:20px 0 0 0;
        padding:0;
        text-align: center;
    }
    .desc_tools p{
        padding-right: 10px;
    }
    
}
/* Mobile sizes */
@media screen and (max-width: 430px){
    .card .icon{
        background: none;
        color:black;
        font-size:20px;
    }
}

/* Animation for the role of herbarium*/
.hiddenrole{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.showrole{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}
/* Clock */
.clock{
    user-select: none;
}
/* Random button */
#button_container{
    text-align: center;
}
#shuffle{
    font-size: 18px;
    background-color: #509080;
    font-weight: bold;
    color:white;
    border:1px solid #509080;
    border-radius:20px;
    margin:0.5vw;
    padding: 7px 15px;
}
#shuffle:hover{
    color:#efce72;
    background-color: #96ab92;
    cursor:pointer;
}
#confirm_details td, #confirm_details th{
    padding:8px 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    border:1px solid black;
}
#confirm_details{
    border-collapse: collapse;
}
#confirm_details th{
    background-color: #fde39c;
}
#confirm_details tr:nth-child(even){
    background-color: #ffefc391;
}
#confirm_details tr:nth-child(odd){
    background-color: #fff8e31e;
}

.search{
    gap:5px;
}
.search i{
    color:#2b5e51;
    font-size: 16px;
    transition: transform 0.3s linear;
}
.search input{
    width:85%;
}
#select_btn{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    border:1px solid #2b5e51;
    border-radius:10px;
    width:100%;
    align-items: center;
    display:flex;
    justify-content: space-between;
    gap:95px;
}
#options li{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px !important;
    display:flex;
    cursor:pointer;
    width: 100% !important;
    padding-left:5px;
}
#options li:hover,li.selected{
    background-color: #f2f2f2;
}
.content{
    border:1px solid #2b5e51;
    border-radius:10px;
    margin-top:5px;
    display:none;
}
.select_wrapper.active .content{
    display:block;
}
.select_wrapper.active #select_btn i{
    transform: rotate(180deg);
}
#options{
    max-height: 160px;
    overflow-y: auto;
}
#options::-webkit-scrollbar{
    width:7px;
}
#options::-webkit-scrollbar-track{
    background-color: #F1F1F1;
    border-radius: 10px;
}
#options::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 10px;
}








